.footer {
  margin: 0;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  padding: 60px 80px;
  font-size: 16px;
  line-height: 20px;
}

.footer__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__logo {
  max-width: 105px;
  max-height: 39px;
}

.footer__social-heading {
  margin: 0 auto 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
}

.footer__list-item {
  line-height: 20px;
  color: #c1c1c1;
}

.footer__social-icon {
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  transition: ease-in 0.8s;
}
.footer__social-link:last-child {
  margin-bottom: 0;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 108px 0 0;
}
